div.npsFormPopup {
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.56);
}
div.npsFormPopup #npsFormCtrl {
    width: 40%;
    top: 15%;
    position: relative;
    margin: auto;
    overflow-x: auto;
    -ms-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}
div.npsFormPopup.thankyou #resultMessage{
    z-index: 12;
    position: relative;
    background: #FFF;
    border: 0
}
div.npsFormPopup.thankyou #resultMessage i.uiIconSuccess:before{color: #2eb58c;}
button.thankyClose {
    width: 125px;
    /*background: #2eb58c;
    border: solid 2px #2eb58c;*/
    color: #FFF;
    padding: 5px 0;
    margin-bottom: 10px;
}
    /* -- -- */
.npsLoadingBar {
	background: url("/nps-addon-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
	background-size: 25px;
	padding: 10px 0px 10px 20px;
	margin: 0 auto;
	width: 80px;
	height: 100px;
}
div#nps {
    /*width: 100%;*/
    text-align: center;
    background: #FFF;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative
}
#nps p {
    text-align: justify;
    margin-top: 20px;
}
#nps textarea{width: 100%;    resize: none;}
.npsRadio {
    margin: 35px 5px 0;
}

#nps .btn-primary{
border: solid 2px #578dc9;
float: none;
display: inline-block;
}
#nps .btn-primary.thankyClose{border: 0}
#nps .btn-block{
    margin-top: 0;
    float: none;
    display: inline-block;
    padding: 5px;
}

/**/
/**/

@-webkit-keyframes click-wave {
    0% {
        height: 35px;
        width: 35px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@-moz-keyframes click-wave {
    0% {
        height: 35px;
        width: 35px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}
@keyframes click-wave {
    0% {
        height: 35px;
        width: 35px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.npsRadio .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 35px;
    width: 35px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    /*background: #cbd1d8;*/
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none!important;
    position: relative;
    z-index: 1;
}
.npsRadio .option-input.promoters{border: solid 2px rgba(60, 175, 140,  0.7);}
/*.npsRadio .option-input.promoters{background: rgba(60, 175, 140,  0.7);}*/
.npsRadio .option-input.passives{border: solid 2px rgba(239, 149, 13,  0.7);}
/*.npsRadio .option-input.passives{background: rgba(239, 149, 13,  0.7);}*/
.npsRadio .option-input.detractor{border: solid 2px rgba(144, 19, 21,  0.5);}
/*.npsRadio .option-input.detractor{background: rgba(144, 19, 21,  0.7);}*/

.npsRadio .option-input:hover {
    background: #9faab7;
}
.npsRadio .option-input.promoters:hover {  background: rgba(60, 175, 140,  0.5)}
.npsRadio .option-input.passives:hover {  background: rgba(239, 149, 13,  0.5)}
.npsRadio .option-input.detractor:hover {  background: rgba(144, 19, 21,  0.5)}

.npsRadio .option-input:checked {
    background: #476a9c;
}
.npsRadio .option-input.promoters:checked {  background: rgba(60, 175, 140,  0.7);}
.npsRadio .option-input.passives:checked {  background: rgba(239, 149, 13,  0.6);}
.npsRadio .option-input.detractor:checked {  background: rgba(144, 19, 21,  0.6);}

.npsRadio .option-input:checked::before {
    height: 35px;
    width: 35px;
    position: absolute;
    /* content: '\2716';*/
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 35px;
}
.npsRadio .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #476a9c;
    content: '';
    display: block;
    position: relative;
    /*margin-left: -25px;*/
    z-index: 0;
}

.npsRadio .option-input.promoters:checked::after{background: rgba(60, 175, 140,  0.7);}
.npsRadio .option-input.passives:checked::after{background: rgba(239, 149, 13,  0.7);}
.npsRadio .option-input.detractor:checked::after{background: rgba(144, 19, 21,  0.7);}

.npsRadio .option-input.radio {
    border-radius: 50%;
    width: 35px;
    padding: 0;
}
.npsRadio .option-input.radio::after {
    border-radius: 50%;
}

.npsRadio {
    display: block;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    box-pack: start;
    -ms-flex-pack: start;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;
    -ms-flex-align: stretch;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    text-align: center;
    position: relative;
}

.npsRadio label {
    display: inline-block;
    line-height: 35px;
    position: relative;
    width: 34px;
    height: 35px;
    margin-top: -25px;
    margin-right: 1px;
}
.npsRadio label > span {
    /*position: absolute;*/
    /*top: 18px;*/
    /*left: 16px;*/
    z-index: 1;
    /*color: #ab7d7d;*/
    font-weight: bold;
    position: relative;
    top: -22px;
    margin: auto;
}

.npsRadio label .option-input.promoters + span{color: rgba(60, 175, 140,  0.7);}
.npsRadio label .option-input.passives + span{color: rgba(239, 149, 13,  0.7);}
.npsRadio label .option-input.detractor + span{color: rgba(144, 19, 21,  0.7);}

.npsRadio .option-input:checked + span{color: #FFF!important;}

#nps .submitdiv{
    margin-bottom: 5px;
    margin-top: 10px
}

/**/
/**/
.div_indication {
    display: inline-block;
    width: 100%;
}
.div_indication .indication {
    position: relative;
    font-size: 12px;
    text-align: center;
    font-family: inherit;
    font-weight: bold;
    text-align: left;
    color: #476a9c;
}
.div_indication .indication.detractor {
    color: rgba(144, 19, 21,  0.8);
    float: left;
}
.div_indication .indication.promoters {
    color: rgba(60, 175, 140,  1);
    top: initial;
    float: right;
}

.npsComment, #nps #submit.btn-primary{
    display: none;
    opacity: 0;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    transition-duration: .5s;
}

.close {
    position: absolute;
    top: 4px;
    right: 10px;
}

/* settingsContainer */

.settingsContainer button.btn.btn-primary.input-large{margin: 0}


/**/
/* SWICHER*/
/**/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 47px!important;
  height: 21px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/**/
/* uiCheckbox STYLE */
/**/
#npsForm .uiCheckbox input[type="checkbox"]+span:before {
    width: 20px;
    height: 20px;
}
#npsForm .uiCheckbox>span {
    margin-left: 10px;
    margin-top: 4px;
}
#npsForm .uiCheckbox input[type="checkbox"]:checked+span:after {
    width: 9px;
    height: 4px;
    box-shadow: none;
    left: 5px;
    top: 8px;
}
/**
*   RESPONSIVENESS
*/

@media all and (max-width: 911px) {
    div.npsFormPopup #npsFormCtrl {width: 60%}
}

@media all and (max-width: 767px) {
    div.npsFormPopup #npsFormCtrl {width: 90%}
}

/*---------------
*  E-NPS STYLE
----------------*/

#nps.exo_employees_nps{
    background: url(https://www.exoplatform.com/blog/wp-content/uploads/2018/02/800x533.png);
    background-position: center;
}
#nps.exo_employees_nps .exo_employees_nps_form{
    background: rgba(255, 255, 255, 0.8);
    margin: -20px;
    padding: 20px;
}
.exoLogo{display: none}
#nps.exo_employees_nps .exo_employees_nps.exoLogo{
    position: relative;
    display: block;
    margin: auto;
}
#nps.exo_employees_nps div#resultMessage{
    margin: -20px -15px;
    padding: 40px 30px;
}
