.npsLoadingBar {
    background: url("/nps-addon-portlet/skin/images/loading-16x16.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    background-size: 25px;
    padding: 10px 0px 10px 20px;
    margin: 0 auto;
    width: 80px;
    height: 100px;
}

.npsNumber {
    position: relative;
    margin: auto;
    margin-top: 20px;
    width: 70px;
    height: 48px;
    border-radius: 50%;
    line-height: 25px;
    font-size: 25px;
    padding: 26px 15px;
    text-align: center;
    background: #476a9c;
    color: #FFF;
}
.npsStat .alert {
    font-weight: bold;
    font-size: 14px;
}
.npsStat .alert > span{
    color: #39c522;
    float: right;
    font-size: 20px;
}
.npsStat .alert.alert-warning > span{color : #edad00}
.npsStat .alert.alert-error > span{color : #c72222}
.scoresDiv{
    margin: 30px 0;
    width: initial;
}
.scoresDiv .scoreManagement{margin-left: 30px}
a.actionIconde {
    float: right;
}
/**/
/* SWICHER*/
/**/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 47px!important;
  height: 21px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #578dc9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* SCORE MANAGEMENT */
.scoresDiv > h4{
    width: 100%;
    margin-bottom: 20px;
    color: #333;
}

.scoreManagement {
    margin: auto;
    position: relative;
}
.scoreManagement > h3.lead{
    margin-bottom: 10px;
    font-size: 16.5px;
}
.scoreManagement > select{
    padding: 2px 4px;
    min-height: 33px;
    width: 75%;
}
.scoreManagement > a{-15px -8px -5px 0}

.pagination{margin: 0}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* RESULT MSG */
div#npsAdminCtrl {
    position: relative;
}
div#resultMessage {
    position: absolute;
    left: 10px;
    right: 10px;
}
/* NPS ADMIN POPUP*/
.npsAdminPopup{
    position: fixed;
    width: 100%;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 10;
}
.npsAdminPopup > div{
    position: relative;
    width: 560px;
    margin: 0 auto 20px;
    z-index: 1;
    max-width: 100%;
    height: auto;
    overflow: auto;
    max-height: 90%;
}
.npsAdminPopup input {
    width: 100%;
}

/*.nps_week_graph{min-width: 95%}*/
/**/
.no-graph{
font-size: 18px;
}
.avataruser{width : 26px; height:26px; margin-right: 5px}
/**/
/* -- POPUP FORM -- */
/**/
.npsAdminPopup label, .npsAdminPopup div.controls{display: inline-block; width: 20%}
.npsAdminPopup div.controls{display: inline-block;width: 75%;}

.redtext{
color: red;
    font-weight: bold;
}

/**/
#npsAdminApplication [ng-show=showGraphs].span12 {max-width: 95%}
div#npsAdminApplication .span10 {width: 95%!important;}
div#npsAdminApplication .span10 .span10 {width: 100%!important;}


/* -- -- ADDON MENU -- -- */
ul#addonMenu {
    margin: 0;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: -o-linear-gradient(top,#f8f8f8,#e6e6e6);
    background-image: linear-gradient(to bottom,#f8f8f8,#e6e6e6);
    background-repeat: repeat-x;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffe6e6e6',GradientType=0);
    -webkit-box-shadow: inset;
    -moz-box-shadow: inset;
    box-shadow: inset;
    min-height: 90px;
}
ul#addonMenu > .active > a{
    background-color: #578dc9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999',endColorstr='#ff808080',GradientType=0);
    -webkit-box-shadow: 1px 0 4px #578dc9 inset;
    -moz-box-shadow: 1px 0 4px #578dc9 inset;
    box-shadow: 1px 0 4px #578dc9 inset;
}
ul#addonMenu > li > a {
    text-align: center;
    border: none;
    background: none;
    height: 51px;
    min-width: 45px;
    margin: 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
        border-radius: 5px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
ul#addonMenu > li > a > i{  font-size: 32px;}
ul#addonMenu li > a > span {
    display: block;
    color: #333;
}
ul#addonMenu > .active> a > span,
ul#addonMenu > .active> a > i{
    color: #fff;
    text-shadow: none;
}
.nav-tabs li, .nav li{cursor: pointer}

.score_detail{
	background: #fff;
    margin: 10px;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 25px;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,0.1);
}


.score_detail.detractor {
    border-left: solid 5px rgba(144, 19, 21, 0.7);
}

.score_detail.passive {
    border-left: solid 5px rgba(239, 149, 13,  0.7);
}

.score_detail.promoter {
    border-left: solid 5px rgba(60, 175, 140,  0.7);
}

.score_detail .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}
.pull-left.score_author {
    width: 90%;
    padding: 3px 0;
  //
    line-height: 50px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
}

.pull-left.score_manage {
    width: 50%;
}

.container-fluid.row.score_detail_head {
    border-bottom: 1px solid #e1e8ee;
	    padding-left: 0;
}

.container-fluid.score_detail_head {
    border-bottom: 1px solid #e1e8ee;
}


.dateTime{
    font-size: 11px;
    color: #999;
    display: block;
}

.owner {line-height: 1;}
.owner a{
font-family: "Helvetica Neue Bold",Helvetica,Lucida,Arial,sans-serif;
    font-weight: bold;
    word-wrap: break-word;
}

.score_authorImg {
    z-index: 1;
        margin: 0 5px;
}
.avatarCircle {
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top,#fff,#f0f0f0);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f0f0f0));
    background-image: -webkit-linear-gradient(top,#fff,#f0f0f0);
    background-image: -o-linear-gradient(top,#fff,#f0f0f0);
    background-image: linear-gradient(to bottom,#fff,#f0f0f0);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff0f0f0',GradientType=0);
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 2px 4px rgba(13,13,13,0.27);
    -moz-box-shadow: 0 2px 4px rgba(13,13,13,0.27);
    box-shadow: 0 2px 4px rgba(13,13,13,0.27);
    border: 1px solid #b1b1b1;
    padding: 5px;
    position: relative;
    text-align: center;
    line-height: 37px;
}
.score_authorImg a {
    word-wrap: break-word;
}

.avatarCircle img {
    max-height: 50px;
    max-width: 50px;
    margin: -5px;
}

.score_value.pull-left {
    width: 60px;
    margin-right:  10px;
    text-align: center;
    font-size: 50px;
    line-height: 1;
}

.score_value.pull-left.detractor {
    color: rgba(144, 19, 21, 0.7);
}

.score_value.pull-left.passive {
    color: rgba(239, 149, 13,  0.7);
}

.score_value.pull-left.promoter {
    color: rgba(60, 175, 140,  0.7);
}


.score_comment.pull-right {
    width: 90%;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 0px;
    font-weight: bold;
}

/* SCORE MANAGEMENT */

.pull-right.score_manage {
    text-align: right;
	    width: 10%;
}

/**/
/* SWICHER*/
/**/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 47px!important;
  height: 21px;
  margin-bottom: 0;
      margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #578dc9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

a.actionIconde {
    float: right;
}

.btn-group button {
    background-color: #f1f1f1;
    border: 1px solid #ccc!important;
    padding: 50px 24px;
    cursor: pointer;
    float: left;
    margin: 20px;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: #8f8f8f;
}

.responses-btn {
        width: 20%;

}

#feedbacks .responses-btn {
        font-size: 25px;
        color: #666;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-radius : 5px;
        -webkit-transition-duration:.3s;
        -moz-transition-duration:.3s;
        -ms-transition-duration:.3s;
        transition-duration:.3s;

}
#feedbacks .responses-btn.detractor {
    color: rgba(144, 19, 21, 0.7);
}

#feedbacks .responses-btn.passive {
    color: rgba(239, 149, 13,  0.7);
}

#feedbacks .responses-btn.promoter {
    color: rgba(60, 175, 140,  0.7);
}
#feedbacks .responses-btn:hover{color: #FFF}
#feedbacks .responses-btn.promoter:hover {
    background-color: rgba(60, 175, 140, 0.7);
}
#feedbacks .responses-btn.passive:hover {
    background-color: rgba(239, 149, 13,  0.7);
}
#feedbacks .responses-btn.detractor:hover {
    background-color: rgba(144, 19, 21, 0.7);
}
.container-fluid.score_detail_comment {
    padding: 10px 20px;
}
/* MEAN SCORE */
.metric.span2 {
    padding-left: 3%;
}
.metric .value {
    color: #7f7c7d;
}
.metric .description {
    color: #7f7c7d;
    font-size: 15px;
    font-weight: bold;
}
.separator {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 35.23176%;
    border-bottom: 2px solid #ddd9db;
    margin: 5px 0;
}

.metric .value.detractor { color: rgba(144, 19, 21, 0.7);}

.metric .value.passive { color: rgba(239, 149, 13,  0.7);}

.metric .value.promoter {color: rgba(60, 175, 140,  0.7);}
/**/
.separator.detractor {border-bottom-color: rgba(144, 19, 21, 0.7);}
.separator.passive {border-bottom-color: rgba(239, 149, 13,  0.7);}
.separator.promoter {border-bottom-color: rgba(60, 175, 140,  0.7);}
/**/
#dashboardTab, #trendsTab, #feedbacksTab{
    margin-right: -20px;
    min-width: 100px;
}
.datepickerMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.datepickerMenu:nth-child(1) {margin-top: 15px;}
.datepickerMenu label{float: left; margin-right: 5px;    text-align: center;}